Options -indexes
Options -Multiviews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [L]

##REDIRECT ERROR
ErrorDocument 404 http://itsystem.id.utacgroup.com
ErrorDocument 403 http://itsystem.id.utacgroup.com
ErrorDocument 500 http://itsystem.id.utacgroup.com
ErrorDocument 503 http://itsystem.id.utacgroup.com
ErrorDocument 504 http://itsystem.id.utacgroup.com

##Clickjacking
Header always set X-Frame-Options "DENY"
Header always set X-Content-Type "nosniff"
Header always set Strict-Transport-Security "max-age=31536000; includeSubdomains"
#Header always set Content-Security-Policy "default-src https: data: 'unsafe-inline' 'unsafe-eval'"
Header always set X-Xss-Protection "1; mode=block"